@import "tailwindcss";

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-display: 'Oswald', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
